
.genres {

    .genres_container {

        min-height: 100vh;
        margin: 0 23px 0 105px;

        display: flex;
        
        
        .genres_body {

            .genres_title {

                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
    
                img {
    
                    width: 66px;
                }
            }

            .genres_landing-title {

                margin: 39px 0 0 20px;
                font-family: 'Edu NSW ACT Foundation', cursive;
                font-size: 100px;
    
            }
        }
    }
}